#!/bin/bash

python ./projectname/manage.py makemigrations
python ./projectname/manage.py migrate
python ./projectname/manage.py collectstatic --noinput
uwsgi --ini uwsgi.ini
# python manage.py runserver 0.0.0.0:{{ app_port }}
